# Logs
logs/
*.log

# Dados do Cowrie (sessões SSH)
data/tty/
data/downloads/

# Python
__pycache__/
*.pyc
venv/
*.pyc

# Arquivos temporários
*.tmp
*.swp
*.swo
*.pid

# IDE
.vscode/
.idea/
data/fs.pickle
ngrok-v3-stable-linux-amd64.tgz
