[honeypot]
hostname = IPCamera-HiVision
log_path = var/log/cowrie
download_path = ${honeypot:state_path}/downloads
data_path = src/cowrie/data
state_path = var/lib/cowrie
etc_path = etc
contents_path = honeyfs
txtcmds_path = txtcmds
ttylog = true
ttylog_path = ${honeypot:state_path}/tty
idle_timeout = 180
authentication_timeout = 120
backend = shell
logtype = rotating
timezone = UTC

[shell]
filesystem = ${honeypot:data_path}/fs.pickle
processes = ${honeypot:data_path}/cmdoutput.json

arch = linux-arm-lsb/

# Kernel de cameras como a das marcas Hikvision e Dahua
kernel_version = 3.10.0
kernel_build_string = #1 SMP PREEMPT Hikvision
hardware_platform = armv7l
operating_system = GNU/Linux

# Versão SSH típico da IoT
ssh_version = OpenSSH_6.0p1 Debian-4+deb7u2

[ssh]
enabled = true
version = SSH-2.0-dropbear_2012.55
listen_endpoints = tcp:2222:interface=0.0.0.0
sftp_enabled = true

[telnet]
enabled = true
listen_endpoints = tcp:2323:interface=0.0.0.0
#23 para parecer mais com uma camera (se mudar, mude para 2222)
reported_port = 23


[output_jsonlog]
enabled = true
logfile = ${honeypot:log_path}/cowrie.json
epoch_timestamp = false
